
html, body {
  height: 100%;
}
.split-container {
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#one, #two {
    padding: 20px;
}

#one p {
    padding: 0;
}

.split p,
.split-flex p {
    padding: 20px;
}

.split,
.split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ns-resize;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

body .ace_scrollbar-v {
    overflow-y: auto;
}

body .ace_scrollbar-h {
    overflow-x: auto;
}

.ace_scrollbar-inner {
	background-color: #eee;
	opacity: 0.01;
}

.floating-menu {
    padding: 0px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.exec-query {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADvSURBVEiJ7ZKxSgNBFEXPS0LATtLbBKzCugRl/yG1BPwCKxGnEqxSisUipMtXWCR1IIUYNpElaCc2dnYpRIRlXoqkje6sTJU99b33zIOBkhKAcG76rddevUi3kiekykX1e/kUJKbpRbChLUISJFcdXwKAhoiMwpm5RXu5uq4CAFG4PnpeDluPpuFDsEbpVOukYWIiP4I1BypMgrk59yUAECxbv3Dtn+PvFaunaXSfbgsUvkCQh70sa/82DsUusIrcLI7jOwT9K+wq+BTkbHESj/MWXARTa6X7EsUfLi/KJRBl8LWfXb4d9n9cxkt2hBVJkD98s6ST7QAAAABJRU5ErkJggg==);
    background-position: -4px -4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}