html,
body {
    height: 100%;
}

.dashboard-row .dashboard-panel .panel-body.html,
.dashboard-row .dashboard-panel .panel-body.splunk-html {
    padding: 6px;
    background-color: #eee;
}

.focused {
    box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    border-color: rgba(81, 203, 238, .8);
    outline: 0;
    border-collapse: separate;
}

.es_btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f3f3f3;
    background-image: linear-gradient(180deg, #f7f7f7, #eee);
    background-color: #eee;
    border: 1px solid #bfbfbf;
    border-top-color: #bfbfbf;
    border-bottom-color: #bfbfbf;
    box-shadow: inset 0 1px 0 #fcfcfc;
    text-shadow: none;
    border-radius: 4px;
}

.es_btn,
.es_btn:hover {
    background-repeat: repeat-x;
    color: #333;
}

.es_btn:hover {
    background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
    background-color: #f8f8f8;
    border-color: #c7c7c7;
    border-top-color: #c7c7c7;
    border-bottom-color: #c7c7c7;
    background-position: 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
    text-decoration: none;
}

.es_btn:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.popdown-dialog:focus {
    outline: none;
}

.panel-body.html {
    padding: 0px !important;
}