<div class="events-controls-inner">
    <a href="#" class="btn-pill pull-left search-results-eventspane-controls-showfield" style="display: none;">
        <i class="icon-chevron-right icon-no-underline"></i>
        <span>Show Fields</span>
    </a>
    <div class="btn-group shared-controls-syntheticselectcontrol control-default">
        <a class="dropdown-toggle btn-pill" href="#">
            <i class=" icon-large"></i>
            <span class="link-label"> List</span>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-selectable dropdown-menu-default  dropdown-menu-narrow ">
            <div class="arrow"></div>
            <ul class="dropdown-menu-main">
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="0" data-item-value="raw">
                        <i class="icon-check" style="display:none"></i>
                        <span class="link-label">Raw</span>
                    </a>
                </li>
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="1" data-item-value="list">
                        <i class="icon-check" style=""></i>
                        <span class="link-label">List</span>
                    </a>
                </li>
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="2" data-item-value="table">
                        <i class="icon-check" style="display:none"></i>
                        <span class="link-label">Table</span>
                    </a>
                </li>
            </ul>
            <div class="dropdown-footer"></div>
        </div>
    </div>
    <div class="btn-group format-events">
        <div class="btn-group shared-vizcontrols-format">
            <a class="btn-pill popdown-toggle format" href="#" data-original-title="" title="">
                <i class="icon-paintbrush"></i>
                <span class="link-label">Format</span>
            </a>
        </div>
    </div>
    <div class="control btn-group shared-controls-syntheticselectcontrol control-default">
        <a class="dropdown-toggle btn-pill" href="#">
            <i class=" icon-large"></i>
            <span class="link-label"> 10 Per Page</span>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-selectable dropdown-menu-default  dropdown-menu-narrow ">
            <div class="arrow"></div>
            <ul class="dropdown-menu-main">
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="0" data-item-value="10">
                        <i class="icon-check" style=""></i>
                        <span class="link-label">10 Per Page</span>
                    </a>
                </li>
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="1" data-item-value="20">
                        <i class="icon-check" style="display:none"></i>
                        <span class="link-label">20 Per Page</span>
                    </a>
                </li>
                <li>
                    <a class="synthetic-select " href="#" data-item-idx="2" data-item-value="50">
                        <i class="icon-check" style="display:none"></i>
                        <span class="link-label">50 Per Page</span>
                    </a>
                </li>
            </ul>
            <div class="dropdown-footer"></div>
        </div>
    </div>
    <div class="pagination shared-searchresultspaginator pull-right">
        <%
            var totalPages = Math.ceil(pager.total / pager.size)
            var currPage = Math.ceil(pager.from / pager.size)
            var startPage, endPage, prevPage, nextPage
            if (currPage < 6) {
                startPage = 1
                endPage = (totalPages < 9) ? totalPages : 9
            } else {
                startPage = currPage - 3
                endPage = (totalPages < (currPage + 4)) ? totalPages : (currPage + 4)
            }
            prevPage = (currPage === 1) ? 1 : currPage - 1
            nextPage = (totalPages < (currPage + 1)) ? totalPages : (currPage + 1)
            %>
            <ul class="ulpager">
                <li class="previous <% print((currPage === 1) ? 'disabled' : '') %>">
                    <a class="page-controls" data-page="<%=prevPage%>" data-curr="<%=currPage%>">
                        <i class="icon-chevron-left"></i>
                        <span>Prev</span>
                    </a>
                </li>
                <li class="number" style="display:<% print((currPage > 5)?'block':'none') %>">
                    <a href="#" data-page="1" data-curr="<%=currPage%>">1</a>
                </li>
                <li class="dots disabled" style="display:<% print((currPage > 5)?'block':'none') %>">
                    <a class="dots">...</a>
                </li>
                <%for (var i = startPage; i < endPage + 1; i++) {%>
                <li class="number <% print((i === currPage) ? 'active' : '') %>">
                    <a href="#" data-page="<%=i%>" data-curr="<%=currPage%>">
                        <%=i%>
                    </a>
                </li>
                <%}%>
                <li class="dots disabled" style="display:<% print((endPage !== totalPages)?'block':'none') %>">
                    <a class="dots">...</a>
                </li>
                <li class="next <% print((endPage === totalPages) ? 'disabled' : '') %>">
                    <a href="#" class="page-controls" data-page="<%=nextPage%>" data-curr="<%=currPage%>">
                        <span>Next</span>
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
            </ul>
    </div>
    <div class="events-controls-inner-cover"></div>
</div>
</div>
<div class="search-results-wrapper">
    <div class="search-results-eventspane-fieldsviewer" style="display: block;">
    </div>
    <div class="lazy-view-container lazy-events-viewer shared-eventsviewer-lazyeventsviewer">
        <div class="shared-eventsviewer">
            <div class="scrolling-table-wrapper shared-eventsviewer-list" style="display: block;">
                <div class="header-table-docked" style="display: none; right: 0px; left: 241px; top: -1000px;">
                    <table class="table table-chrome table-row-expanding events-results events-results-table hide-line-num" style="width: 719px; margin-left: 0px;">
                        <thead class="shared-eventsviewer-shared-tablehead">
                            <tr>
                                <th class="col-info" style="width: 15px;">
                                    <i class="icon-info"></i>
                                </th>
                                <th class="line-num  " style="width: 0px;">&nbsp;</th>
                                <th class="col-0 " style="width: 84px;">Time</th>
                                <th class="col-1  ">Event</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="disable" style="display: none;"></div>
                </div>
                <table class="table table-chrome table-row-expanding events-results events-results-table hide-line-num" style="table-layout: fixed;">
                    <thead class="shared-eventsviewer-shared-tablehead">
                        <tr>
                            <th class="col-info" style="width: 15px;">
                                <i class="icon-info"></i>
                            </th>
                            <th class="line-num" style="width: 0px;">&nbsp;</th>
                            <th class="col-0 " style="width: 84px;">Time</th>
                            <th class="col-1  ">Event</th>
                        </tr>
                    </thead>
                    <tbody class="shared-eventsviewer-list-body">
                        <%_.each(hits.hits, function(hit, idx) {%>
                            <tr tabindex="-1" class="tabbable-list-row shared-eventsviewer-list-body-row" es-repeat>
                                <!--Line breaks intentionally removed to fix obscure IE9 bug with tables-->
                                <td tabindex="0" class="expands">
                                    <a>
                                        <i class="icon-triangle-right-small"></i>
                                    </a>
                                </td>
                                <td class="line-num">
                                    <span></span>
                                </td>
                                <td class="_time" tabindex="0">
                                    <span class="formated-time">
                                        <span>
                                            <%=filter.date(hit._source['@timestamp'], 'YYYY-MM-DD')%>
                                        </span>
                                        <br>
                                        <span>
                                            <%=filter.date(hit._source['@timestamp'], 'hh:mm:ss.SSS ZZ')%>
                                        </span>
                                    </span>
                                </td>
                                <td class="col-icon" style="display:none" tabindex="0">
                                    <em class="icon">
                                        <img src="">
                                    </em>
                                </td>
                                <td class="event">
                                    <div class="shared-eventsviewer-shared-rawfield">
                                        <div class="raw-event normal">
                                            <%_.each(hit._source, function(val, key) {%>
                                                <span class="event_source_key">
                                                    <%=key%>:</span>
                                                <span class="event_source_value f-v">
                                                    <%=val%>
                                                </span>
                                                <%})%>
                                        </div>
                                    </div>
                                    <div class="shared-eventsviewer-list-body-row-selectedfields shared-eventsviewer">
                                        <ul class="condensed-selected-fields">
                                            <li>
                                                <span class="field">_index =</span>
                                                <span class="field-value">
                                                    <a href="#" class="f-v" title="<%=hit._index%>">
                                                        <%=hit._index%>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="field">_type =</span>
                                                <span class="field-value">
                                                    <a href="#" class="f-v" title="<%=hit._type%>">
                                                        <%=hit._type%>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="field">_id =</span>
                                                <span class="field-value">
                                                    <a href="#" class="f-v" title="<%=hit._id%>">
                                                        <%=hit._id%>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="field">_score =</span>
                                                <span class="field-value">
                                                    <a href="#" class="f-v" title="<%=hit._score%>">
                                                        <%=hit._score%>
                                                    </a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
                <div class="table-scroll-bar-docked" style="left: 241px; min-width: 719px;">
                    <div style="width: 719px; height: 1px;"></div>
                </div>
            </div>
        </div>
    </div>